/***************************************************************************
* 					SPECIFIC PLUGIN CSS FILE
***************************************************************************/
@import "commons.health.check.map.css";
@import "example.health.check.map.css";


.test-text-area{
   width: 50%;
   border:1px solid;
   height: 15em;
}

/***************************************************************************
* 					LAYOUT
***************************************************************************/
.inugami.demo.dashboard {
    background-color:#eeeeec;
}

.inugami.demo.dashboard .dashboard {
    margin-top: 0em;
}


.inugami.demo.dashboard  .demo-content{
    margin-top:6em;

}
.inugami.demo.dashboard .center-content,
.inugami.demo.dashboard .left-column,
.inugami.demo.dashboard .right-column{
    background-color:#ffffff;
}


.inugami.demo.dashboard .left-column,
.inugami.demo.dashboard .right-column{
    margin-top: 2em;
    padding: 1em;
}
.inugami.demo.dashboard .left-column{
    float: left;
    margin-left: 1em;
    padding-right: 2em;
}

.inugami.demo.dashboard .center-content{
    -webkit-box-shadow: 0px 0px 6px 0px #AAAAAA; 
    box-shadow: 0px 0px 6px 0px #AAAAAA;
    position: absolute;
    left: calc(20vw);
}
.inugami.demo.dashboard .right-column{
    float: right;
    margin-right: 1em;
    padding-left: 2em;
}


.inugami.demo.dashboard  footer{
    clear: both;
}

/***************************************************************************
* 					OVERRIDE COMPONENTS
***************************************************************************/
.current_frequentation-begin{
    stop-color:#036B91;
}

.current_frequentation-end{
    stop-color: #ffffff;
}

.inugami.demo.dashboard  .curve-chart .data-curves .curve{
    stroke: #036B91;
}



.inugami.demo.dashboard  .bar-chart .masks .mask{
    fill: #ffffff;
    stroke: 1px;
    stroke-width: 1px;
    stroke: #ffffff;
}
.inugami.demo.dashboard  .services.checkout rect{
    fill: #036B91;
}

.demo-content .label .background{
    fill: #053b4f;
}
.demo-content .label .title{
    fill: #ffffff;
}

.bar-chart-container svg{
    margin-left: calc(6vh);
}
/***************************************************************************
* 					 COMPONENTS
***************************************************************************/
.inugami.demo.dashboard  .health-map{
    width: 90%;
    margin-top: 6em;
    margin-left: 4em;
}

.inugami.demo.dashboard .content .demo-dashboard{
   overflow: hidden;
}

