/***************************************************************************
* 					SPECIFIC PLUGIN CSS FILE
***************************************************************************/

.test-text-area{
   width: 50%;
   border:1px solid;
   height: 15em;
}

/***************************************************************************
* 					LAYOUT
***************************************************************************/
.inugami.demo.dashboard {
    background-color:#eeeeec;
}

.inugami.demo.dashboard .dashboard {
    margin-top: 0em;
}

.inugami.demo.dashboard header{
    position: absolute;
    top:0;
    background-color:#303030;
    width: 100%;
    padding: 0.5em;
    color: #ffffff;
    box-shadow: 0 0 1em 0 #676767;
}

.inugami.demo.dashboard header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.inugami.demo.dashboard header nav ul li{
    float: left;
    padding: 0.5em;
    font-size: 140%;
}

.inugami.demo.dashboard  .demo-content{
    margin-top:6em;

}
.inugami.demo.dashboard .center-content,
.inugami.demo.dashboard .left-column,
.inugami.demo.dashboard .right-column{
    background-color:#ffffff;
}


.inugami.demo.dashboard .left-column,
.inugami.demo.dashboard .right-column{
    margin-top: 2em;
    padding: 1em;
}
.inugami.demo.dashboard .left-column{
    float: left;
    margin-left: 1em;
    padding-right: 2em;
}

.inugami.demo.dashboard .center-content{
    -webkit-box-shadow: 0px 0px 6px 0px #AAAAAA; 
    box-shadow: 0px 0px 6px 0px #AAAAAA;
    position: absolute;
    left: calc(20vw);
}
.inugami.demo.dashboard .right-column{
    float: right;
    margin-right: 1em;
    padding-left: 2em;
}


.inugami.demo.dashboard  footer{
    clear: both;
}

/***************************************************************************
* 					OVERRIDE COMPONENTS
***************************************************************************/
.current_frequentation-begin{
    stop-color:#6b6b6b;
}

.current_frequentation-end{
    stop-color: #ffffff;
}


.inugami.demo.dashboard  .bar-chart .label .background{
    fill: #a9a9a9;
}

.inugami.demo.dashboard  .bar-chart .masks .mask{
    fill: #ffffff;
    stroke: 1px;
    stroke-width: 1px;
    stroke: #ffffff;
}



/***************************************************************************
* 					 COMPONENTS
***************************************************************************/
.inugami.demo.dashboard  .health-map{
    width: 90%;
    margin-top: 6em;
    margin-left: 4em;
}


.health-check  .top-border,
.health-check .light-border
.health-check .shadow-border{
   -webkit-transition: fill 2s; 
   transition: fill 1s;
}


.health-check .instance.error .top-border,
.health-check .instance.error .top-border{
   animation: topBorderAnimation 2s infinite;
}
.health-check .instance.error .light-border,
.health-check .instance.error .light-border{
   animation: lightBorderAnimation 2s infinite;
}
.health-check .instance.error .shadow-border,
.health-check .instance.error .shadow-border{
   animation: shadowBorderAnimation 2s infinite;
}
.health-check .instance.error .label{
   animation: labelAnimation 2s infinite;
}

@keyframes topBorderAnimation {
   0% {
      fill : #df7f7f;
      stroke: #666666;
   }
   50%{
      fill : #ff5454;
      stroke: #dd0000;
   }
   100% {
      fill : #df7f7f;
      stroke: #666666;
   }
 }

 @keyframes lightBorderAnimation {
   0% {
      fill : #ff7a7a;
      stroke: #666666;
   }
   50%{
      fill : #fc3c3c;
      stroke: #dd0000;
   }
   100% {
      fill : #ff7a7a;
      stroke: #666666;
   }
 }

 @keyframes shadowBorderAnimation {
   0% {
      fill : #7d3434;
      stroke: #666666;
   }
   50%{
      fill : #b63030;
      stroke: #dd0000;
   }
   100% {
      fill : #7d3434;
      stroke: #666666;
   }
 }


 @keyframes labelAnimation {
   0% {
      fill : #303030;
   }
   50%{
      fill : #ffffff;
   }
   100% {
      fill : #303030;
   }
 }

 .glow-effet{
   opacity:0;
   filter:url(#glowFilterFX);
 }

 .health-check .error .glow-effet{
   animation: glowAnimation 2s infinite;
   fill:#ef2929;
 }



 @keyframes glowAnimation {
   0% {
      opacity:0.1;
   }
   50%{
      opacity:0.6;
   }
   100% {
      opacity:0.1;
   }
 }

 .i-svg-generic-map .path-connector.error{
   stroke: #ff0000;
   stroke-dasharray: 100;
   animation: dash  linear 1s infinite;
 }

 @keyframes dash {
   0% {
     stroke-dashoffset: 100;
   }
   100% {
      stroke-dashoffset: 0;
   }
 }